image: ruby:2.2

before_script:
  - apt-get update -qq && apt-get install -y -qq wkhtmltopdf xvfb
pages:
  script:
  - gem install jekyll jekyll-gist redcarpet
  - jekyll build -d public/
  - xvfb-run wkhtmltopdf --user-style-sheet css/resume.css public/KevinLawResume.html public/KevinLawResume.pdf
  artifacts:
    paths:
    - public
  only:
  - gh-pages

pages_fix:
  script:
  - gem install jekyll jekyll-gist redcarpet
  - jekyll build -d public/
  - xvfb-run wkhtmltopdf --user-style-sheet css/resume.css public/KevinLawResume.html public/KevinLawResume.pdf
